<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Monoton|Quattrocento+Sans" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="top-bar">
      <div class="top-bar-left">
        <h1><a href="/">Recipize</a></h1>
      </div>

      <section class="top-bar-right">
        <ul class="menu">
          <%- if current_user -%>
            <li><%= link_to 'My Favorites', '/profile' %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>

            <li>
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <%= f.text_field :email, placeholder: "email"%>
              <%= f.password_field :password, placeholder: "password" %>
              <%= f.submit 'Submit', class: "loginsubmit", value: "Log In" %>
            <% end %>
            </li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <%- end -%>
        </ul>
      </section>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Delius+Unicase" />
    </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%- if Rails.env.development? || Rails.env.test? -%>
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>

  </body>
  </html>
